<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">กรอกข้อมูลเรื่องร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                ช่องทางการรับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control" disabled>
            </div>
            <div class="col-md-2 text-md-right">
                เลขที่รับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                วันที่แจ้งเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                เวลารับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                แหล่งข้อมูล
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>โทรศัพท์</option>
                    <option>Facebook</option>
                    <option>อื่นๆ</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                รายละเอียดคำร้องเรียน
            </div>
            <div class="col-md form-group">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ส่วนงานที่รับผิดชอบ
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>ส่วนงาน 1</option>
                    <option>ส่วนงาน 2</option>
                </select>
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="row justify-content-end">
            <div class="col-5 col-xl-2">
                <button class="btn btn-primary btn-block">หน้าต่อไป</button>
            </div>

            <div class="col-5 col-xl-2">
                <button class="btn btn-secondary btn-block ">ยกเลิกการบันทึก</button>

            </div>

        </div>
    </div>
</div>
