<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">1. การดำเนินการ</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control" name="text1" [value]="texts[0]"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">2. ประเด็นเรื่องร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">3. ข้อเท็จจริง</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control" [value]="texts[2]"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">4. ข้อกฏหมาย</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control" [value]="texts[3]"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">5. ข้อพิจารณา/ความเห็น</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control" [value]="texts[4]"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">6. ค่าวินิจฉัยและข้อเสนอแนะ</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control" [value]="texts[5]"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">7. ผลการดำเนินการตามข้อเสนอแนะ</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <button type="button" class="btn btn-primary" style="width: 150px">บันทึก</button>
    <button type="button" class="btn btn-secondary ml-2" style="width: 150px">ยกเลิก</button>
</div>




