<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">ค้นหาเรื่องร้องเรียน</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row text-center">
                <div class="col-md">
                    <div class="form-group custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="exampleCheck1">
                        <label class="custom-control-label" for="exampleCheck1">เรื่องที่รับร้องเรียนแล้ว</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="exampleCheck2">
                        <label class="custom-control-label" for="exampleCheck2">เรื่องร้องเรียนที่รับจาก Internet</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-group custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="exampleCheck3">
                        <label class="custom-control-label" for="exampleCheck3">เรื่องร้องเรียนที่ ผผ. หยิบยก</label>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">เลขที่เรื่องร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword"
                               class="col-lg-5 col-form-label font-weight-normal">เลขที่หนังสือ</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">ชื่อเรื่องร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="dateOfComplaint" class="col-lg-5 col-form-label font-weight-normal">วันที่รับเรื่องร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="date" class="form-control" id="dateOfComplaint">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="dateOfComplaint" class="col-lg-5 col-form-label font-weight-normal">ถึง</label>
                        <div class="col-lg-7">
                            <input type="date" class="form-control" id="dateOfComplaint">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">ชื่อ-สกุล
                            ผู้ร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword"
                               class="col-lg-5 col-form-label font-weight-normal">เลขที่บัตรประชาชน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label  font-weight-normal">หน่วยงานที่ถูกร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">ประเด็นหลักที่เกี่ยวข้อง</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">ประเด็นปัญหาที่ร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">ลักษณะเรื่องร้องเรียน</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">คำวินิจฉัย</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">สถานะ</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row text-right">
                        <label for="inputPassword"
                               class="col-lg-5 col-form-label font-weight-normal">เนื้อหาเอกสาร</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <div class="row justify-content-center">
                <div class="col-5 col-xl-2">
                    <button type="button" class="btn btn-primary btn-block">ค้นหา</button>
                </div>
                <div class="col-5 col-xl-2">
                    <button type="button" class="btn btn-secondary btn-block">เคลียร์ข้อความ</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">ตารางข้อมูลเรื่องร้องเรียนทั้งหมด</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>เรื่องร้องเรียนเลขดำที่</th>
                            <th>เลขที่อ้างอิง</th>
                            <th>ชื่อเรื่องร้องเรียน</th>
                            <th>ชื่อผู้ร้องเรียน</th>
                            <th>รับจาก</th>
                            <th>ชื่อผู้รับผิดชอบ</th>
                            <th>ขั้นตอนล่าสุด</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <td>{{i + 1}}</td>
                            <td>001/2558</td>
                            <td>-</td>
                            <td>เรื่องแจ้งที่ {{i + 1}}</td>
                            <td>-</td>
                            <td>{{item.name}}</td>
                            <td>-</td>
                            <td>รอรับเรื่อง</td>
                            <td>
                                <button class="btn btn-block btn-info btn-sm" [routerLink]="['..',item.route]">
                                    รายละเอียด
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-block btn-info btn-sm">พิมพ์ปก</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <ngb-pagination [collectionSize]="70" [(page)]="page"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
