<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">กรอกข้อมูลผู้ร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                คำนำหน้าชื่อ
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ชื่อ
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                นามสกุล
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ประเภทหนังสือ
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>เลขประจำตัวประชาชน</option>
                    <option>เลขที่หนังสือเดินทาง</option>
                    <option>เลขประจำตัวข้าราชการ</option>
                </select>
            </div>
            <div class="col-md-2 text-md-right">
                เลขบัตร
            </div>
            <div class="col-md-3 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-1 form-group">
                <button class="btn btn-info">ตรวจสอบ</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right mt-2 mb-4">
                ที่อยู่/ที่ติดต่อ
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เลขที่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                หมู่บ้าน
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                หมู่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ซอย
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                ถนน
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                แขวง/ตำบล
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เขต/อำเภอ
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                จังหวัด
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                รหัสไปรษณีย์
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button class="btn btn-primary">หน้าต่อไป</button>
                <button class="btn btn-secondary ml-2">ยกเลิกการบันทึก</button>
            </div>
        </div>
    </div>
</div>
