<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">กรอกข้อมูลเรื่องร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                ช่องทางการรับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control" disabled>
            </div>
            <div class="col-md-2 text-md-right">
                คำร้องทางอินเตอร์เน็ตที่
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                วันที่รับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                เวลารับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                รายละเอียดคำร้องเรียน
            </div>
            <div class="col-md form-group">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ส่วนงานที่รับผิดชอบ
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="offset-md-7 col-md-1 ">
                <button class="btn btn-primary " style="width: 133.54px">หน้าต่อไป</button>
            </div>

            <div class=" col-md-2">
                <div class="offset-md-3 col-md-12">
                    <button class="btn btn-secondary">ยกเลิกการบันทึก</button>

                </div>
            </div>
        </div>
    </div>
</div>
