<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">เรื่องร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                เลขที่เรื่องร้องเรียน
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                วันที่รับเรื่องร้องเรียน
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                เวลา
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เลขที่หนังสือ
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                ลงวันที่
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                คล้ายเรื่องร้องเรียนที่
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                อ้างอิงจากเลขที่
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                คำร้องเรียน **
            </div>
            <div class="col-md form-group">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                สรุปประเด็นข้อร้องเรียน
            </div>
            <div class="col-md form-group">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เรื่องที่อยู่ในความสนใจของสาธารณะชน
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>ปกติ</option>
                    <option>อยู่ในความสนใจ</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ส่วนงานที่รับผิดชอบ
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เกลี่ยงานมาจาก
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>-</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">ช่องทางการร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                การเสนอคำร้องเรียน
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>ไปรษณีย์</option>
                    <option>-</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ประเภทการร้องเรียน
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>ร้องเรียนด้วยหนังสือ</option>
                    <option>ร้องเรียนด้วยวาจา</option>
                    <option>ร้องเรียนทางอินเตอร์เน็ต</option>
                    <option>อื่น ๆ</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ลักษณะเรื่องร้องเรียน **
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>เรื่องร้องเรียนเกี่ยวกับปัญหาความชอบธรรมด้วยรัฐธรรมนูญ</option>
                    <option>-</option>
                </select>
            </div>
        </div>
    </div>
</div>

