    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">ตารางข้อมูลเรื่องร้องเรียนทั้งหมด</h3>
                    <button class="btn btn-outline-secondary" style="float: right" (click)="showPrintModal()">
                        <a class="fa fa-print"></a>
                        พิมพ์
                    </button>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th></th>
                            <th>ลำดับ</th>
                            <th>เลขดำที่</th>
                            <th>เลขที่อ้างอิง</th>
                            <th>รับจาก</th>
                            <th width="30%">ชื่อเรื่องร้องเรียน</th>
                            <th>ประเด็น</th>
                            <th>ชื่อผู้ร้องเรียน</th>
                            <th>ชื่อผู้รับผิดชอบ</th>
                            <th>ขั้นตอนล่าสุด</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <td><input type="checkbox"></td>
                            <td>{{i + 1}}</td>
                            <td>001/2558</td>
                            <td>-</td>
                            <td>{{item.name}}</td>
                            <td style="text-align: left !important;">{{item.detail}}</td>
                            <td>ประเด็นที่1 ,ประเด็นที่2 ,ประเด็นที่3</td>
                            <td>-</td>
                            <td>-</td>
                            <td>รอรับเรื่อง</td>
                            <td>
                                <button class="btn btn-block btn-info btn-sm" [routerLink]="['../../check-complaint',item.route]">
                                    รายละเอียด
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-block btn-info btn-sm">พิมพ์ปก</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-block btn-info btn-sm">
                                    <a class="fa fa-file-pdf"></a>
                                    ดูแฟ้ม
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <ngb-pagination [collectionSize]="70" [(page)]="page"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
