<div class="container-fluid">
    <div class="card mt-1">
        <ngb-tabset [justify]="'fill'">
            <ngb-tab title="1. รายละเอียดเรื่องร้องเรียน">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-detail-mobile></app-detail-mobile>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="2. รายละเอียดผู้ร้องเรียน">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-complainant-detail-mobile></app-complainant-detail-mobile>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="3. รายละเอียดหน่วยงาน/ผู้ถูกร้องเรียน">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-accused-detail-mobile></app-accused-detail-mobile>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="4. ผลการร้องเรียน">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-results-mobile></app-results-mobile>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
