<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">ข้อมูลผู้ร้อง</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                คำนำหน้าชื่อ
            </div>
            <div class="col-md-3 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ชื่อ
            </div>
            <div class="col-md-3 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                นามสกุล
            </div>
            <div class="col-md-3 form-group">
                <input type="text" class="form-control">
            </div>
            <button class="btn btn-info btn-sm" style="max-height: 38px;">ตรวจสอบชื่อซ้ำ</button>
        </div>
        <div class="row">
            <div class="offset-2 col-md-3 form-group">
                <select class="form-control">
                    <option selected>เลขประจำตัวประชาชน</option>
                    <option>เลขที่หนังสือเดินทาง</option>
                    <option>เลขประจำตัวข้าราชการ</option>
                </select>
            </div>
            <div class="col-md-2 text-md-right">
                เลขบัตร
            </div>
            <div class="col-md-3 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-2 mb-4">
            <div class="col-md-2 text-md-right">
                ที่อยู่/ที่ติดต่อ
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เลขที่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-1 text-md-right">
                หมู่บ้าน
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-1 text-md-right">
                หมู่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ซอย
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ถนน
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                แขวง/ตำบล
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เขต/อำเภอ
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                จังหวัด
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                รหัสไปรษณีย์
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">ที่อยู่ในการส่งเอกสาร</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 form-group">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" >
                    <label class="form-check-label">ที่อยู่เดียวกัน กับข้อมูลผู้ร้อง</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เรียน
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row mt-2 mb-4">
            <div class="col-md-2 text-md-right">
                ที่อยู่/ที่ติดต่อ
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เลขที่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-1 text-md-right">
                หมู่บ้าน
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-1 text-md-right">
                หมู่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ซอย
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ถนน
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                แขวง/ตำบล
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เขต/อำเภอ
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                จังหวัด
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                รหัสไปรษณีย์
            </div>
            <div class="col-md-8 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>
<div class="row pt-5 pb-5">
    <div class="col-12 text-center">
        <button style="width: 150px;" class="btn btn-primary mr-2">บันทึก</button>
        <button style="width: 150px;" class="btn btn-secondary">ยกเลิก</button>
    </div>
</div>
