<div class="container-fluid">
    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group row text-right">
                    <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">เรื่องร้องเรียนเลขดำที่</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="inputPassword" value="ทดสอบ" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row text-right">
                    <label for="inputPassword" class="col-lg-4 col-form-label font-weight-normal">ผู้รับผิดชอบ</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="inputPassword" value="ทดสอบ" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group row text-right">
                    <label for="inputPassword" class="col-lg-5 col-form-label font-weight-normal">เรื่องร้องเรียนเลขแดงที่</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="inputPassword" value="ทดสอบ" disabled>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row text-right">
                    <label for="inputPassword" class="col-lg-4 col-form-label font-weight-normal">สำนัก</label>
                    <div class="col-lg-7">
                        <input type="text" class="form-control" id="inputPassword" value="ทดสอบ" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-5">
        <ngb-tabset [justify]="'fill'">
            <ngb-tab title="รายละเอียดเรื่อง">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-about></app-about>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="complaint-info" title="ข้อมูลผู้ร้อง" >
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-complaint-info></app-complaint-info>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="หน่วยงาน/ผู้ถูกร้องเรียน">
                <ng-template ngbTabContent>
                    <p>หน่วยงาน/ผู้ถูกร้องเรียน</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="เอกสารแนบ">
                <ng-template ngbTabContent>
                    <p>เอกสารแนบ</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="รับหนังสือ">
                <ng-template ngbTabContent>
                    <p>รับหนังสือ</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="ข้อเท็จจริง">
                <ng-template ngbTabContent>
                    <p>ข้อเท็จจริง</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="เสนอยุติ">
                <ng-template ngbTabContent>
                    <p>เสนอยุติ</p>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="ส่งต่อ สส 1-4 สกค. สตท.">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-forward></app-forward>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="พิมพ์">
                <ng-template ngbTabContent>
                    <div class="ml-4 mr-4">
                        <app-print></app-print>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
