<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                    <div class="float-right">
                            <button class="btn btn-success" type="button" id="dropdownMenuButton" routerLink="new">
                                <i class="fas fa-walking fa-2x"></i>
                                เพิ่มเรื่องร้องเรียน Walk-in
                            </button>

                    </div>
                    <h3 class="card-title">ตารางข้อมูลเรื่องร้องเรียน Walk-in</h3>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>เรื่องร้องเรียนเลขดำที่</th>
                            <th>ชื่อเรื่องร้องเรียน</th>
                            <th>ชื่อผู้ร้องเรียน</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let item of items;let i = index">
                        <tr *ngIf="i<callPage(t.value)">
                            <td>{{i + 1}}</td>
                            <td>001/2558</td>
                            <td>เรื่องแจ้งที่ {{i + 1}}</td>
                            <td>{{item.complainant}}</td>
                            <td>
                                <button class="btn btn-block btn-info btn-sm" [routerLink]="['detail']">
                                    รายละเอียด
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <label class="col-md-1">
                            <select #t name="example1_length"
                                    class="custom-select form-control"
                                    (change)="callPage(t.value) ">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>

                        </label>
                        <label class="col-md-6">
                            <ngb-pagination [collectionSize]="items.length" [(page)]="page"></ngb-pagination>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
