<div class="container-fluid">
    <div class="card mt-1">
        <div class="card-header">
            <h3 class="card-title">รายละเอียดเรื่องร้องเรียน</h3>
        </div>
        <div class="card-body">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">กรอกข้อมูลเรื่องร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ช่องทางการรับเรื่อง
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="complaintType" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            วันที่รับเรื่องร้องเรียน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            เวลารับเรื่อง
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="time" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เลขที่หนังสือ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            รายละเอียดคำร้องเรียน
                        </div>
                        <div class="col-md-6 form-group">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ประเด็น
                        </div>
                        <div class="col-md-6 form-group">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เรื่องที่อยู่ในความสนใจ
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control">
                                <option>ปกติ</option>
                                <option>อยู่ในความสนใจ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                        </div>
                        <div class="col-md-2 form-group">
                            <div class="form-group custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-system">
                                <label class="custom-control-label" for="check-system">เรื่องเชิงระบบ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">กรอกข้อมูลผู้ร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ประเภทผู้ร้องเรียน
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="form-group custom-radio">
                                <input type="radio" name="complainant-type" class="custom-control-input" id="radio1"
                                       [value]="'thai'"
                                       [(ngModel)]="complainantType">
                                <label class="custom-control-label" for="radio1">ชาวไทย</label>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="form-group custom-radio">
                                <input type="radio" name="complainant-type" class="custom-control-input" id="radio2"
                                       [value]="'foreign'"
                                       [(ngModel)]="complainantType">
                                <label class="custom-control-label" for="radio2">ชาวต่างชาติ</label>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="form-group custom-radio">
                                <input type="radio" name="complainant-type" class="custom-control-input" id="radio3"
                                       [value]="'agent'"
                                       [(ngModel)]="complainantType">
                                <label class="custom-control-label" for="radio3">ตัวแทน</label>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group custom-radio">
                                <input type="radio" name="complainant-type" class="custom-control-input" id="radio4"
                                       [value]="'group'"
                                       [(ngModel)]="complainantType">
                                <label class="custom-control-label" for="radio4">หมู่คณะ
                                    (สามารถเพิ่มผู้ร้องได้หลายคน)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                        </div>
                        <div class="col-md-2 form-group">
                            <div class="form-group custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-hide">
                                <label class="custom-control-label" for="check-hide">ปกปิดชื่อ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="complainantType == 'group'">
                        <div class="col-md-2 text-md-right">
                        </div>
                        <div class="col-md-2 form-group">
                            <h5>ชื่อผู้ร้องหลัก</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            คำนำหน้าชื่อ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            เพศ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ชื่อ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            นามสกุล
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div *ngIf="complainantType == 'group'">
                        <div class="row">
                            <div class="col-md-2 text-md-right">
                            </div>
                            <div class="col-md-1 form-group">
                                <h5>ชื่อผู้ร้องร่วม</h5>
                            </div>
                            <div class="col-md-2 form-group">
                                <button class="btn btn-outline-primary mr-2" (click)="addSubComplainant()"><i class="fa fa-plus"></i></button>
                                <button class="btn btn-outline-danger mr-2" (click)="deleteSubComplainant()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div *ngFor="let subComplainant of subComplainants; let i = index">
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    {{i + 1}}.) คำนำหน้าชื่อ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    เพศ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    ชื่อ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control" [(ngModel)]="subComplainant">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    นามสกุล
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ประเภทหนังสือ
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control">
                                <option>เลขประจำตัวประชาชน</option>
                                <option>เลขที่หนังสือเดินทาง</option>
                                <option>เลขประจำตัวข้าราชการ</option>
                            </select>
                        </div>
                        <div class="col-md-2 text-md-right">
                            เลขบัตร
                        </div>
                        <div class="col-md-3 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-1 form-group">
                            <button class="btn btn-info">ตรวจสอบ</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ลักษณะผู้ร้องเรียน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right mt-2 mb-4">
                            ที่อยู่/ที่ติดต่อ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เลขที่
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            หมู่บ้าน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            หมู่ที่
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ซอย
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            ถนน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            แขวง/ตำบล
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เขต/อำเภอ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            จังหวัด
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            รหัสไปรษณีย์
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            E-mail
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เบอร์โทรศัพท์
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="card-body">
                        <div *ngIf="complainantType == 'agent'">
                            <hr>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5>ข้อมูลตัวแทน</h5>
                                </div>
                                <div class="col-md-2 form-group">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    คำนำหน้าชื่อ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    เพศ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    ชื่อ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    นามสกุล
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    ประเภทหนังสือ
                                </div>
                                <div class="col-md-2 form-group">
                                    <select class="form-control">
                                        <option>เลขประจำตัวประชาชน</option>
                                        <option>เลขที่หนังสือเดินทาง</option>
                                        <option>เลขประจำตัวข้าราชการ</option>
                                    </select>
                                </div>
                                <div class="col-md-2 text-md-right">
                                    เลขบัตร
                                </div>
                                <div class="col-md-3 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-1 form-group">
                                    <button class="btn btn-info">ตรวจสอบ</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    ลักษณะผู้ร้องเรียน
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right mt-2 mb-4">
                                    ที่อยู่/ที่ติดต่อ
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    เลขที่
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    หมู่บ้าน
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    หมู่ที่
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    ซอย
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    ถนน
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    แขวง/ตำบล
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    เขต/อำเภอ
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    จังหวัด
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-2 text-md-right">
                                    รหัสไปรษณีย์
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    E-mail
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    เบอร์โทรศัพท์
                                </div>
                                <div class="col-md-2 form-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">กรอกข้อมูลหน่วยงาน/ผู้ถูกร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" *ngFor="let department of accusedDepartments; let i = index">
                    <div class="row">
                        <div class="col-md-2">
                            <h5>หน่วยงานที่ {{i + 1}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ชื่อหน่วยงาน <span style="color: red">**</span>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            กรม
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            กระทรวง
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ตำแหน่งหัวหน้าหน่วยงาน
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            คำนำหน้าชื่อ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ชื่อ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            นามสกุล
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right mt-2 mb-4">
                            ที่อยู่/ที่ติดต่อ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เลขที่
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            หมู่บ้าน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            หมู่ที่
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ซอย
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            ถนน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            แขวง/ตำบล
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เขต/อำเภอ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            จังหวัด
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            รหัสไปรษณีย์
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-outline-primary mr-2" (click)="addDepartment()"><i class="fa fa-plus"></i></button>
                            <button class="btn btn-outline-danger mr-2" (click)="deleteDepartment()"><i class="fa fa-minus"></i></button>
                            เพิ่มหน่วยงาน / ผู้ถูกร้องเรียน
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">เลือกผลการร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            กรณียื่นโดย Walk In
                        </div>
                        <div class="col-md-2 form-group">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                        </div>
                        <div class="col-md-2 form-group custom-radio">
                            <input type="radio" name="result-type" class="custom-control-input" id="result-type1">
                            <label class="custom-control-label" for="result-type1">ปรึกษา</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                        </div>
                        <div class="col-md-2 form-group custom-radio">
                            <input type="radio" name="result-type" class="custom-control-input" id="result-type2">
                            <label class="custom-control-label" for="result-type2">จะยื่นเรื่องเข้ามา</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                        </div>
                        <div class="col-md-2 form-group custom-radio">
                            <input type="radio" name="result-type" class="custom-control-input" id="result-type3">
                            <label class="custom-control-label" for="result-type3">รับเป็นเรื่องร้องเรียน</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                        </div>
                        <div class="col-md-2 form-group custom-radio">
                            <input type="radio" name="result-type" class="custom-control-input" id="result-type4">
                            <label class="custom-control-label" for="result-type4">ไม่อยู่ในอำนาจเนื่องจาก</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                            รหัสมาตราตาม พรป.
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control">
                                <option>กรุณาเลือก</option>
                                <option>ไม่รับตามมาตรา 28(1)</option>
                                <option>ไม่รับตามมาตรา 28(2)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-md-right">
                        </div>
                        <div class="col-md-2 form-group">
                            <button class="btn btn-primary">พิมพใบคำร้อง</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <button class="btn btn-primary">บันทึกรับเรื่องร้องเรียน</button>
                <!--<button class="btn btn-secondary ml-2" [routerLink]="['']">ยกเลิกการบันทึก</button>-->
            </div>
        </div>
    </div>
</div>
