 <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>เรื่องร้องเรียน</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-filing"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53</h3>

                        <p>เรื่องที่รับร้องเรียน</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-archive"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>เรื่องที่กำลังดำเนินการ</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-search"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>เรื่องที่ยุติ</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-close"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-6">
                <br>
                <h5 class="m-0 text-dark">ขั้นตอนการจัดการเรื่องร้องเรียน (CIM) ในส่วนของสตร.</h5>
                <br>
            </div>
        </div>
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Mobile</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">เพิ่มเติม Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">เพิ่มเติม Mobile</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รอมอบหมาย</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">พิจารณารับ</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รขอข้อมูลเพิ่มเติมจากผู้ร้อง</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">ได้รับข้อมูลเพิ่มเติมจากผู้ร้อง</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">เสนอ ผผ. ไว้ดำเนินการ</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">เสนอ ผผ. ยุติ (ไม่รับ)</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">เสนอ ผผ. ยุติเรื่องไม่ซับซ้อน</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">ส่งต่อหน่วยงานอื่น</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">ส่ง สส. 1-4 สกม. สตท.</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">ออกเลขแดง</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">อื่นๆ</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">อื่นๆ</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                        <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row (main row) -->
