.progress {
  height: 10px;
}

.progress .progress-bar {
  background-color: #007bff;
}

.icon {
  color: white;
}

.small-box-footer {
  color: #1f2d3d !important;
}

.fa-ban {

  transform: rotate(90deg);
  animation: test 1s infinite;
}

//@keyframes test {
//
//  10% {transform: rotate(36deg);}
//  20% {transform: rotate(72deg);}
//  30% {transform: rotate(108deg);}
//  40% {transform: rotate(144deg);}
//  50% {transform: rotate(180deg);}
//  60% {transform: rotate(216deg);}
//  70% {transform: rotate(252deg);}
//  80% {transform: rotate(288deg);}
//  90% {transform: rotate(324deg);}
//  100% {transform: rotate(360deg);}
//}

//$grid-columns:      12;
//$grid-gutter-width: 30px;
//
//$grid-breakpoints: (
//  // Extra small screen / phone
//        xs: 0,
//  // Small screen / phone
//        sm: 576px,
//  // Medium screen / tablet
//        md: 768px,
//  // Large screen / desktop
//        lg: 992px,
//  // Extra large screen / wide desktop
//        xl: 1500px,
//);
