<div class="row pt-5 pb-3">
    <div class="col-12 text-center">
        <h5>การเสนอยุติเรื่องร้องเรียนตามพระราชบัญญัติประกอบรัฐธรรมนูญว่าด้วยผู้ตรวจการแผ่นดิน พ.ศ. 2560</h5>
    </div>
</div>
<div class="card card-primary mt-3">
    <div class="card-header">
        <h3 class="card-title">รายละเอียดเรื่องร้องเรียน</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                เรื่องร้องเรียนเลขดำที่
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ส่วนงานที่รับผิดชอบ
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                เจ้าหน้าที่สอบสวน
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                ประเด็นเรื่องร้องเรียน
                <textarea class="form-control" rows="5"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">1. กรณีไม่รับไว้พิจารณา</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">เรื่องร้องเรียนที่มีลักษณะตามมาตรา 37 วรรค1 จึงไม่รับไว้พิจารณา</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group-toggle" >
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra1}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องที่เป็นนโยบายที่คณะรัฐมนตรีกำหนด">
                                        <input type="checkbox" name="options" id="option_1" autocomplete="off" [(ngModel)]="data1.isMatra1">
                                        37 (1)
                                    </label>
                                    <label class="btn btn-light matra mr-3 " placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra2}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องที่มีการฟ้องร้องเป็นคดีอยู่ในศาล">
                                        <input type="checkbox" name="options" id="option_2" autocomplete="off" [(ngModel)]="data1.isMatra2">
                                        37 (2)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra3}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องที่ไม่อยู่ในหน้าที่และอำนาจของผู้ตรวจการแผ่นดิน">
                                        <input type="checkbox" name="options" id="option_3" autocomplete="off" [(ngModel)]="data1.isMatra3">
                                        37 (3)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra4}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องที่อยู่ในหน้าที่และอำนาจองค์กรอิสระอื่น">
                                        <input type="checkbox" name="options" id="option_4" autocomplete="off" [(ngModel)]="data1.isMatra4">
                                        37 (4)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra5}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เป็นการร้องเรียนโดยใช้สิทธิไม่สุจริต">
                                        <input type="checkbox" name="options" id="option_5" autocomplete="off" [(ngModel)]="data1.isMatra5">
                                        37 (5)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra6}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องที่ได้รับการแก้ไขความเดือดร้อนแล้ว">
                                        <input type="checkbox" name="options" id="option_6" autocomplete="off" [(ngModel)]="data1.isMatra6">
                                        37 (6)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra7}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องที่ผู้ตรวจการแผ่นดินเคยสรุปผลการพิจารณาแล้ว">
                                        <input type="checkbox" name="options" id="option_7" autocomplete="off" [(ngModel)]="data1.isMatra7">
                                        37 (7)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data1.isMatra8}"
                                            ngbTooltip="เรื่องร้องเรียนที่วินิจฉัยแล้วไม่รับไว้พิจารณาเพราะเข้าหลักเกณฑ์เรื่องอื่นตามมติที่ผู้ตรวจการแผ่นดินกำหนด">
                                        <input type="checkbox" name="options" id="option_8" autocomplete="off" [(ngModel)]="data1.isMatra8" >
                                        37 (8)
                                    </label>
                                    (จะนำเสนอผู้ตรวจการแผ่นดินพิจารณามีมติต่อไป)
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5" *ngIf="data1.isMatra8">
                            <div class="col-12">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="offset-1 col-sm-10">
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no01">
                                                <label class="form-check-label">
                                                    ถอนเรื่อง
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no01">
                                                <label class="form-check-label">
                                                    ข้อมูลไม่ชัดเจน
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no01">
                                                <label class="form-check-label">
                                                    ไม่แสดงพยานหลักฐานในเวลาที่กำหนด
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no01">
                                                <label class="form-check-label">
                                                    ผู้ร้องเรียนเสียชีวิต และไม่มีทายาท
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no01">
                                                <label class="form-check-label">
                                                    ผู้ร้องเรียนมิใช่ผู้ได้รับความเดือนร้อนหรือความไม่เป็นธรรม
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">2. กรณียุติเรื่อง</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">
                            เรื่องร้องเรียนที่ปรากฏในภายหลังว่าเป็นเรื่องร้องเรียนที่มีมีลักษณะตามมาตรา 37
                            วรรคหนึ่งให้ผู้ตรวจการแผ่นดินสั่งยุติเรื่องตามมาตรา 37 วรรคสอง จึงยุติเรื่อง</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group btn-group-toggle">
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra1}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องที่เป็นนโยบายที่คณะรัฐมนตรีกำหนด" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option1" autocomplete="off" [(ngModel)]="data2.isMatra8">
                                        37 (1)
                                    </label>

                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra2}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องที่มีการฟ้องร้องเป็นคดีอยู่ในศาล" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option2" autocomplete="off" [(ngModel)]="data2.isMatra2">
                                        37 (2)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra3}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องที่ไม่อยู่ในหน้าที่และอำนาจของผู้ตรวจการแผ่นดิน" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option3" autocomplete="off" [(ngModel)]="data2.isMatra3">
                                        37 (3)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra4}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องที่อยู่ในหน้าที่และอำนาจองค์กรอิสระอื่น" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option4" autocomplete="off" [(ngModel)]="data2.isMatra4">
                                        37 (4)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra5}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเป็นการร้องเรียนโดยใช้สิทธิไม่สุจริต" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option5" autocomplete="off" [(ngModel)]="data2.isMatra5">
                                        37 (5)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra6}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องที่ได้รับการแก้ไขความเดือดร้อนแล้ว" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option6" autocomplete="off" [(ngModel)]="data2.isMatra6">
                                        37 (6)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra7}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องที่ผู้ตรวจการแผ่นดินเคยสรุปผลการพิจารณาแล้ว" ngbButtonLabel>
                                        <input type="checkbox" name="options" ngbButton id="option7" autocomplete="off" [(ngModel)]="data2.isMatra7">
                                        37 (7)
                                    </label>
                                    <label class="btn btn-light matra mr-3" placement="top" style="min-width: 100px;" [ngClass]="{'active':data2.isMatra8}"
                                           ngbTooltip="เรื่องร้องเรียนที่ปรากฏข้อเท็จจริงว่ามีลักษณะเรื่องอื่นตามมติที่ผู้ตรวจการแผ่นดินกำหนด" ngbButtonLabel>
                                        <input type="checkbox" name="options1" ngbButton id="option8" autocomplete="off" [(ngModel)]="data2.isMatra8">
                                        37 (8)
                                    </label>

                                    (จะนำเสนอผู้ตรวจการแผ่นดินพิจารณามีมติต่อไป)
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5" *ngIf="data2.isMatra8">
                            <div class="col-12">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="offset-1 col-sm-10">
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    ถอนเรื่อง/เรื่องที่มีข้อมูลไม่ชัดเจนเพียงพอที่จะรับไว้พิจารณาได้
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    ข้อมูลไม่ชัดเจน/เรื่องที่ผู้แจ้งหรือผู้ร้องเรียนไม่มาให้ถ้อยคำ
                                                    ไม่แสดงพยานหลักฐาน หรือไม่ให้ความร่วมมือ
                                                    ในการชี้แจงข้อเท็จจริงต่อผู้ตรวจการแผ่นดินภายในระยะเวลาที่กำหนด
                                                    โดยไม่มีเหตุอันสมควร
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    ไม่แสดงพยานหลักฐานในเวลาที่กำหนด/
                                                    เรื่องที่ผู้แจ้งหรือผู้ร้องเรียนขอถอนเรื่องหรือขอยุติเรื่อง
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    ผู้ร้องเรียนเสียชีวิต
                                                    และไม่มีทายาท/เรื่องที่ผู้ร้องเรียนตายโดยไม่มีทายาทเข้าแทนที่
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    ผู้ร้องเรียนมิใช่ผู้ได้รับความเดือนร้อนหรือความไม่เป็นธรรม/เรื่องที่ผู้ร้องเรียนมิได้เป็นผู้ที่ได้รับความเดือดร้อนหรือความไม่เป็นธรรมโดยตรง
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    เรื่องร้องเรียนที่วินิจฉัยแล้วปรากฏข้อเท็จจริงว่าไม่มีลักษณะตามมาตรา
                                                    22/เรื่องที่เกี่ยวข้องกับการพิจารณาพิพากษาอรรถคดีของศาล
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    เรื่องที่มิได้เป็นไปตามหลักเกณฑ์และเงื่อนไขตามกฎหมายอื่น
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" type="radio" name="no02">
                                                <label class="form-check-label">
                                                    เรื่องที่มิได้เป็นไปตามมาตรา 22 (1) (2) (3) หรือ (4)
                                                    แห่งพระราชบัญญัติประกอบรัฐธรรมนูญว่าด้วยผู้ตรวจการแผ่นดิน พ.ศ. 2560
                                                    แล้วแต่กรณี
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">3. กรณีเสนอแนะต่อหน่วยงานของรัฐ / คณะรัฐมนตรี</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">เรื่องร้องเรียนที่ผู้ตรวจการแผ่นดินมีข้อเสนอแนะต่อหน่วยงานของรัฐตามมาตรา
                            22</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-light matra mr-3">22 (1)</button>
                                ดำเนินการตามมาตรา 32 และ 33
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12">
                                <button class="btn btn-light matra mr-3">22 (2)</button>
                                ดำเนินการตามมาตรา 32 และ 34
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12">
                                <button class="btn btn-light matra mr-3">22 (3)</button>
                                ดำเนินการตามมาตรา 35
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">4. กรณีผู้ตรวจการแผ่นดินส่งเรื่องต่อหน่วยงานของรัฐ</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">4.1
                            เรื่องร้องเรียนที่เกี่ยวกับการละเมิดสิทธิมนุษยชนและส่งเรื่องให้คณะกรรมการสิทธิมนุษยชนแห่งชาติตามมาตรา
                            22 วรรคสาม</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-light matra mr-3">22 วรรคสาม</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">4.2 เรื่องร้องเรียนที่ผู้ตรวจการแผ่นดินส่งเรื่องให้หน่วยงานของรัฐตามมาตรา
                            36</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-light matra mr-3">36 (1)</button>
                                <button class="btn btn-light matra mr-3">36 (2)</button>
                                <button class="btn btn-light matra mr-3">36 (3)</button>
                            </div>
                            <div class="col-12">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="offset-1 col-sm-10">
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no04" type="radio">
                                                <label class="form-check-label">
                                                    ถอนเรื่อง
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no04" type="radio">
                                                <label class="form-check-label">
                                                    ข้อมูลไม่ชัดเจน
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no04" type="radio">
                                                <label class="form-check-label">
                                                    ไม่แสดงพยานหลักฐานในเวลาที่กำหนด
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">5. กรณีเสนอเรื่องต่อศาลรัฐธรรมนูญ / ศาลปกครอง</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">
                            เรื่องร้องเรียนที่วินิจฉัยแล้วมีปัญหาเกี่ยวกับความชอบด้วยรัฐธรรมนูญตามมาตราตามมาตรา 23</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-light matra mr-3">23 (1)</button>
                                <button class="btn btn-light matra mr-3">23 (2)</button>
                                <button class="btn btn-light matra mr-3">ไม่มีความชอบด้วย รธน./กม.</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">6. กรณีปฏิบัติหน้าที่ตามกฎหมายอื่น</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">เรื่องร้องเรียนที่วินิจฉัยแล้วดำเนินการตามกฎหมายอื่น</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="offset-1 col-sm-10">
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no06" type="radio">
                                                <label class="form-check-label">
                                                    พรป.ว่าด้วยวิธีพิจารณาของศาลรัฐธรรมนูญ (ตามรัฐธรรมนูญแห่งราชอาณาจักรไทย พุทธศักราช 2560 มาตรา 213) / พรป.ว่าด้วยวิธีพิจารณาของศาลรัฐธรรมนูญ มาตรา 45
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no06" type="radio">
                                                <label class="form-check-label">
                                                    พรบ.ว่าด้วยความผิดเกี่ยวกับการขัดกันระหว่างประโยชน์ส่วนบุคคลกับประโยชน์ส่วนรวม
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no06" type="radio">
                                                <label class="form-check-label">
                                                    รัฐธรรมนูญแห่งราชอาณาจักรไทย พุทธศักราช 2560 มาตรา 51 / พรป.ว่าด้วยวิธีพิจารณาของศาลรัฐธรรมนูญ มาตรา 46 และ 48
                                                </label>
                                            </div>
                                            <div class="form-check pt-2">
                                                <input class="form-check-input" name="no06" type="radio">
                                                <label class="form-check-label">
                                                    อื่น ๆ
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-primary mt-5">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card card-light">
                    <div class="card-header">
                        <h3 class="card-title">เสนอผู้ตรวจการแผ่นดิน</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-2 text-md-right">
                                        เลือกชื่อผู้ตรวจการแผ่นดิน
                                    </div>
                                    <div class="col-md-3 form-group">
                                       <div class="table-responsive">
                                           <table class="table">
                                               <tbody>
                                               <tr>
                                                   <td scope="row"><input type="checkbox" ></td>
                                                   <td>นายบูรณ์ ฐาปนดูรย์</td>
                                               </tr>
                                               <tr>
                                                   <td scope="row"><input type="checkbox" ></td>
                                                   <td>พลเอกวิทวัส รชนะนันทน์</td>
                                               </tr>
                                               <tr>
                                                   <td scope="row"><input type="checkbox" ></td>
                                                   <td>นายสมศักด์ สุวรรณสุจริต</td>
                                               </tr>
                                               </tbody>
                                           </table>
                                       </div>
                                    </div>
                                    <div class="col-md-2 text-md-right">
                                        วันที่เสนอผู้ตรวจการแผ่นดิน
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-5 pb-5">
    <div class="col-12 text-center">
        <button style="width: 150px;" class="btn btn-primary mr-2">บันทึก</button>
        <button style="width: 150px;" class="btn btn-secondary">ยกเลิก</button>
    </div>
</div>
