<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">เลือก</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
     <ul>
         <li>
             <a class="link">ทะเบียนเรื่องร้องเรียนส่งวิชาการ <i class="fas fa-print"></i></a>
         </li>
         <li>
             <a class="link" >ทะเบียนรับเรื่องร้องเรียน <i class="fas fa-print"></i></a>
         </li>
         <li>
             <a class="link"  >
                 ทะเบียนรับเรื่องร้องเรียน (เลือกช่วงเลขที่ร้องเรียน)
                 <i class="fas fa-print"></i>
             </a>
         </li>
     </ul>
</div>

