<table class="table table-bordered mt-3 mb-5">
    <thead>
    <tr>
        <th class="text-center">วันที่</th>
        <th>วันที่เสร็จ</th>
        <th>จำนวนวัน</th>
        <th>ขั้นตอน</th>
        <th>ผู้ดำเนินการ</th>
        <th>รายละเอียด</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]; let i = index">
        <td class="text-center">01/03/2562</td>
        <td></td>
        <td></td>
        <td>ให้หน่วยงานชี้แจง</td>
        <td>ผู้ดูแลระบบ</td>
        <td class="text-center"><a style="color: #0d87e9;cursor: pointer;">ลงทะเบียนหนังสือออกภายนอก 00001/2562(ผผ 19/000001)</a></td>
    </tr>
    </tbody>
</table>
