<table class="table table-bordered mt-3 mb-5">
    <thead class="table text-secondary">
    <th class="text-center">ลำดับ</th>
    <th>วันที</th>
    <th>วันที่เสร็จ</th>
    <th>จำนวนวัน</th>
    <th>ขั้นตอน</th>
    <th>เลขที่หนังสือ</th>
    <th>วันที่รับหนังสือ</th>
    <th>เลขที่หนังสือออก</th>
    <th>วันที่ออกหนังสือ</th>
    <th>ประเภทหนังสือ</th>
    <th>ผู้ดำเนินการ</th>
    </thead>
    <tbody>
    <tr *ngFor="let item of data; let i = index">
        <td class="text-center">{{i + 1}}</td>
        <td>{{item.date}}</td>
        <td>{{item.completedate}}</td>
        <td>{{item.amountdate}}</td>
        <td>{{item.step}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{item.operator}}</td>
    </tr>

    </tbody>
</table>
