<div class="card card-primary mt-5">
    <div class="card-header">
        <h3 class="card-title">กรอกข้อมูลเรื่องร้องเรียน</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2 text-md-right">
                ช่องทางการรับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control" disabled>
            </div>
            <div class="col-md-2 text-md-right">
                เลขที่รับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                วันที่แจ้งเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                เวลารับเรื่อง
            </div>
            <div class="col-md-4 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เลขที่หนังสือ
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                คล้ายเรื่องร้องเรียนเลขที่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-2 text-md-right">
                อ้างอิงจากเลขที่
            </div>
            <div class="col-md-2 form-group">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                รายละเอียดคำร้องเรียน
            </div>
            <div class="col-md form-group">
                <textarea rows="4" class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                เรื่องที่อยู่ในความสนใจของสาธารณะชน
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>ปกติ</option>
                    <option>อยู่ในความสนใจ</option>
                </select>
            </div>
            <div class="col-md-2 text-md-right">
                เกลี่ยงานมาจาก
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>-</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ส่วนงานที่รับผิดชอบ
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>-</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                การเสนอคำร้องเรียน
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>ไปรษณีย์</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ประเภทการร้องเรียน
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>ร้องเรียนด้วยหนังสือ</option>
                    <option>ร้องเรียนด้วยวาจา</option>
                    <option>ร้องเรียนทางอินเทอร์เน็ต</option>
                    <option>อื่นๆ</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-md-right">
                ลักษณะเรื่องร้องเรียน  <span style="color: red">**</span>
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control">
                    <option>กรุณาเลือก</option>
                    <option>เรื่องร้องเรียนเกี่ยวกับปัญหาความชอบธรรมด้วยรัฐธรรมนูญ</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button class="btn btn-primary">หน้าต่อไป</button>
                <button class="btn btn-secondary ml-2">ยกเลิกการบันทึก</button>
            </div>
        </div>
    </div>
</div>
