<div class="row">
    <div class="col-11 mx-5" style="padding: 0 0 40px">

        <!--        <hr class="style1">-->
    </div>
</div>
<!-- <div class="row" style="border: 1px solid black"> -->



<div class="col-11 mx-5" style="padding: 20px 0 0 0">
    <!--    <hr class="style1">-->
</div>
<div class="col-11 mx-5" style="padding: 20px 0">
    <h4>ตารางแสดงข้อมูลการรับแฟ้ม</h4>
    <!--    <hr class="style1">-->
</div>
<div class="row">
    <div class="col-11 mx-5">

        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="row justify-content-center" scope="col">ลำดับ</th>
                        <th scope="col">เลขที่รับแฟ้ม</th>
                        <th scope="col">เรื่องเสนอ</th>
                        <th scope="col">เรื่องร้องเรียนดำเลขที่</th>
                        <th scope="col">ผู้รับผิดชอบ</th>
                        <th scope="col">วันที่รับแฟ้ม</th>
                        <th scope="col">วันที่ส่งแฟ้ม</th>
                        <th scope="col">การปฏิบัติ</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item  of trade  ; let i = index">
                        <th class="row justify-content-center">{{i + 1}}  </th>
                        <td>00{{ item.label }}/2558</td>
                        <td></td>
                        <td>เรื่องแจ้งที่ {{ item.selected }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <ngb-pagination [collectionSize]="70" [page]="0"></ngb-pagination>
            </div>
        </div>
    </div>
</div>

