<div class="row">
    <div class="col-11 mx-5" style="padding: 0 0 40px">

        <!--        <hr class="style1">-->
    </div>
</div>
<div class="row">
    <div class="col-3 my-2 text-right">
        <p>เรื่องร้องเรียนดำเลขที่</p>
    </div>
    <div class="col-2">
        <input type="text" class="form-control" [(ngModel)]="complainNumber" id="complainNumber" style="width: 300px">
    </div>
    <div class="col-5 text-left" style="margin: 0 0 0 30px;">
        <button type="button" class="btn btn-primary"
                style="width: 110px">QR Code
        </button>
    </div>

    <div class="col-3 my-2 text-right">
        <p>เรื่องเสนอ</p>
    </div>
    <div class="col-8">
        <div class="form-group">
            <select class="form-control" [(ngModel)]="present" id="present" style="width: 300px">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>
    </div>
    <div class="col-3 my-2 text-right">
        <p>วันที่รับแฟ้ม</p>
    </div>
    <div class="col-8">
        <input type="text" class="form-control" [(ngModel)]="dateInput" id="dateInput" style="width: 300px"></div>

    <div class="col-3 my-2 text-right">
        <p>เลขที่รับแฟ้ม</p>
    </div>
    <div class="col-8">
        <input type="number" class="form-control" [(ngModel)]="numberInput" id="numberInput" style="width: 300px"></div>

    <div class="col-5 text-right" style="padding: 0 0 0 24px">
        <button type="button" class="btn btn-primary" style="width: 130px">ค้นหา</button>
        &nbsp;&nbsp;&nbsp;<button type="button" (click)="clearInput()" class="btn btn-secondary" style="width: 130px">
        เคลียร์ข้อความ
    </button>
    </div>
</div>

<div class="col-11 mx-5" style="padding: 20px 0 0 0">
    <!--    <hr class="style1">-->
</div>
<div class="col-11 mx-5" style="padding: 20px 0">
    <h4>ตารางแสดงข้อมูลการรับแฟ้ม</h4>
    <!--    <hr class="style1">-->
</div>
<div class="row">

    <div class="col-11 mx-5">
        <div class="checkbox mx-2">
            <label><input type="checkbox" name="allTrades" [value]="trade"
                          (change)="allTrades($event)">&nbsp;ทั้งหมด</label>
        </div>
        <div class="card">
            <div class="card-body table-responsive p-0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ลำดับ</th>
                        <th scope="col">เลขที่รับแฟ้ม</th>
                        <th scope="col">เรื่องเสนอ</th>
                        <th scope="col">เรื่องร้องเรียนดำเลขที่</th>
                        <th scope="col">ผู้รับผิดชอบ</th>
                        <th scope="col">วันที่รับแฟ้ม</th>
                        <th scope="col">วันที่ส่งแฟ้ม</th>
                        <th scope="col">การปฏิบัติ</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"><label><input type="checkbox" name="trades" [checked]="trade[0].selected"
                                                      (change)="changeTradesByCategory($event)">&nbsp;{{ trade[0].label }}
                        </label></th>
                        <td>001/2558</td>
                        <td></td>
                        <td>เรื่องแจ้งที่ 1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row"><label><input type="checkbox" name="trades" [checked]="trade[1].selected"
                                                      (change)="changeTradesByCategory($event)">&nbsp;{{ trade[1].label }}
                        </label></th>
                        <td>002/2558</td>
                        <td></td>
                        <td>เรื่องแจ้งที่ 2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"><label><input type="checkbox" name="trades" [checked]="trade[2].selected"
                                                      (change)="changeTradesByCategory($event)">&nbsp;{{ trade[2].label }}
                        </label></th>
                        <td>003/2558</td>
                        <td></td>
                        <td>เรื่องแจ้งที่ 3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-11 mx-5">
        <ngb-pagination [collectionSize]="70" [page]="0"></ngb-pagination>
    </div>
</div>

