
.nav-sidebar .open > .nav-link i.right {
  -webkit-transform: rotate(90deg);
  transform: rotate(-90deg);
}


.nav-sidebar .nav-item > .nav-link:hover {
  position: relative;
  color: rgb(194, 198, 209);
}

//.fa-angle-left:after {
//  //transform: rotate(90deg);
//  animation: angle 2s infinite;
//}
// .fa-angle-left  {
//  transform: rotate(-90deg);
//    animation: angle 2s infinite;

//}


@keyframes angle {
  50% {transform: rotate(90deg)}
  100% {transform: rotate(180deg)}
}
