<div class="container-fluid">
    <form class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label class="col-form-label font-weight-normal">เลขดำ/แดง: </label>
            </div>
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  id="blackandred"  value="{{getnumber}}" >
                    <div class="input-group-append">
                        <span class="input-group-text">
                                <i class="fas fa-qrcode"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-1 ">
                <button type="button" class="btn btn-primary " (click)="openDetail(blackandred)" style="width: 125px">
                    ค้นหา
                </button>

            </div>
            <div class="col-md-2">
                <div class="offset-1 col-md-10">
                    <button type="button" class="btn btn-secondary " (click)="closeDetail()" style="width: 125px">
                        เคลียร์ข้อความ
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

<div *ngIf="show" class="card ">

    <div class="row">

        <div class="card-body">
            <div class="col-md-12">
                <div>
                    <h4 class="card-title"> ติดตามขั้นตอนการดำเนินการ
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead class="table text-secondary">
                        <th class="text-center">ลำดับ</th>
                        <th>วันที่ดำเนินการ</th>
                        <th>วันนที่สิ้นสุดการดำเนินการ</th>
                        <th>จำนวนวัน</th>
                        <th>ขั้นตอน</th>
                        <th>เลขที่หนังสือ</th>
                        <th>วันที่รับหนังสือ</th>
                        <th>เลขที่หนังสือออก</th>
                        <th>วันที่ออกหนังสือ</th>
                        <th>ประเภทหนังสือ</th>
                        <th>ผู้ดำเนินการ</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>1/8/2562</td>
                            <td>1/8/2562</td>
                            <td>1</td>
                            <td>รับร้องเรียน</td>
                            <td>001/2558</td>
                            <td>1/8/2562</td>
                            <td>001/2558</td>
                            <td>1/8/2562</td>
                            <td>หนังสือรับแจ้งการรับเรื่องร้องเรียน</td>
                            <td>สมชาย ใจดี</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td>1/8/2562</td>
                            <td>1/8/2562</td>
                            <td>1</td>
                            <td>รับร้องเรียน</td>
                            <td>001/2558</td>
                            <td>1/8/2562</td>
                            <td>001/2558</td>
                            <td>1/8/2562</td>
                            <td>หนังสือรับแจ้งการรับเรื่องร้องเรียน</td>
                            <td>สมชาย ใจดี</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">

        <ngb-pagination [collectionSize]="70" [page]="0"></ngb-pagination>
    </div>
</div>

