<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>เรื่องร้องเรียนเลขดำที่</th>
                            <th>ประเด็นเรื่องร้องเรียน</th>
                            <th>ชื่อผู้ร้องเรียน</th>
                            <th>วันที่รับเรื่องร้องเรียน</th>
                            <th>มอบหมายงาน</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of [100,101,102,103,104];let index = index;">
                            <td>{{index + 1}}</td>
                            <td>2019 / {{item}}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>09-09-2019</td>
                            <td>
                                <button class="btn btn-block btn-info btn-sm" [routerLink]="['detail']">
                                    มอบหมายงาน
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="card-footer">
                <ngb-pagination [collectionSize]="70" [page]="0"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
