<div class="m-5">
    <!--<div style="font-size: 1.2rem">-->
        <!--<b>พิมพ์หนังสือ</b><br/>-->
        <!--<div class="pt-3">-->
            <!--<div type="button" class="btn btn-primary">1. บันทึกข้อความ</div>-->
        <!--</div>-->
        <!--<div class="pt-3">-->
            <!--<div type="button" class="btn btn-primary"> 2. บันทึกคำวินิจฉัยและข้อเสนอแนะของผู้ตรวจการแผ่นดิน-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">พิมพ์หนังสือ</h3>
        </div>
        <div class="card-body p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a [routerLink]="'.'" class="nav-link">
                        1. บันทึกข้อความ
                    </a>
                </li>
                <li class="nav-item active">
                    <a [routerLink]="'.'" class="nav-link">
                        2. พิมพ์ปก
                    </a>
                </li>
                <li class="nav-item active">
                    <a [routerLink]="'.'" class="nav-link">
                        3. ใบรับคำร้องเรียน
                    </a>
                </li>
                <li class="nav-item active">
                    <a [routerLink]="'.'" class="nav-link">
                        4. ใบรับคำร้องเรียนผู้ร้องมาพบที่สำนักงานฯ
                    </a>
                </li>
                <li class="nav-item active">
                    <a [routerLink]="'.'" class="nav-link">
                        5. รายละเอียดเรื่องร้องเรียน
                    </a>
                </li>
                <li class="nav-item active">
                    <a [routerLink]="'.'" class="nav-link">
                        6. สรุปเรื่องร้องเรียน
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
