<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <div class="col-auto text-right">
                        <button class="btn btn-outline-primary mt-2" [routerLink]="['add']">
                            <i class="fa fa-plus"></i>เพิ่มกลุ่มผู้ใช้งาน
                        </button>
                    </div>
                    <hr>
                    <table class="table  table-striped">
                        <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อกลุ่ม</th>
                            <th>คำอธิบาย</th>
                            <th width="10%"></th>
                            <th width="10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of ['ADMIN','STAFF','LEADER','INTAKE'];let index = index;">
                            <td>{{index + 1}}</td>
                            <td>{{item}}</td>
                            <td>คำอธิบาย</td>
                            <td>
                                <button class="btn btn-info btn-sm" [routerLink]="['detail']">
                                    <i class="fas fa-edit"></i>แก้ไข
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" >
                                    <i class="fas fa-trash"></i>ลบกลุ่ม
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="card-footer">
                <ngb-pagination [collectionSize]="70" [page]="0"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
