<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>จำนวนเรื่องร้องเรียน</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-filing"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53</h3>

                        <p>จำนวนเรื่องที่รับร้องเรียน</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-archive"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>จำนวนเรื่องที่กำลังดำเนินการ</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-search"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>จำนวนเรื่องที่ยุติ</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-close"></i>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-6">
                <br>
                <h5 class="m-0 text-dark">ขั้นตอนการจัดการเรื่องร้องเรียน (CIM) ในส่วนของสตร.</h5>
                <br>
            </div>
        </div>
        <!-- Main row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <!-- Main row -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="info-box bg-white">
                    <div class="info-box-content">
                        <span class="info-box-text">รับเรื่องร้องเรียนผ่าน Internet</span>
                        <span class="info-box-text">จำนวน</span>
                        <span class="info-box-number">99 รายการ</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: 70%;"></div>
                        </div>
                    </div>
                    <a href="#" class="small-box-footer">ดูข้อมูล <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
