<div class="container-fluid">
    <div class="card mt-1">
        <div class="card-header">
            <h3 class="card-title">รายละเอียดเรื่องร้องเรียน</h3>
        </div>
        <div class="card-body">
            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">กรอกข้อมูลเรื่องร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ช่องทางการรับเรื่อง
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="complaintType" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            วันที่รับเรื่องร้องเรียน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-2 text-md-right">
                            เวลารับเรื่อง
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="time" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เลขที่หนังสือ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            รายละเอียดคำร้องเรียน
                        </div>
                        <div class="col-md-6 form-group">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ประเด็น
                        </div>
                        <div class="col-md-6 form-group">
                            <textarea rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เรื่องที่อยู่ในความสนใจ
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control">
                                <option>ปกติ</option>
                                <option>อยู่ในความสนใจ</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                        </div>
                        <div class="col-md-2 form-group">
                            <div class="form-group custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="check-system">
                                <label class="custom-control-label" for="check-system">เรื่องเชิงระบบ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">กรอกข้อมูลผู้ร้องเรียน</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-2 text-md-right">
                                    เลือกชื่อผู้ตรวจการแผ่นดิน
                                </div>
                                <div class="col-md-3 form-group">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td scope="row"><input type="checkbox" ></td>
                                                <td>นายบูรณ์ ฐาปนดูรย์</td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><input type="checkbox" ></td>
                                                <td>พลเอกวิทวัส รชนะนันทน์</td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><input type="checkbox" ></td>
                                                <td>นายสมศักด์ สุวรรณสุจริต</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">กรอกข้อมูลหน่วยงาน/ผู้ถูกร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ชื่อหน่วยงาน <span style="color: red">**</span>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.institution" disabled>
                        </div>
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col-md-2 text-md-right">-->
                            <!--กรม-->
                        <!--</div>-->
                        <!--<div class="col-md-6 form-group">-->
                            <!--<input type="text" class="form-control" [(ngModel)]="accusedDetail.department" disabled>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-2 text-md-right">-->
                            <!--กระทรวง <span style="color: red">**</span>-->
                        <!--</div>-->
                        <!--<div class="col-md-6 form-group">-->
                            <!--<input type="text" class="form-control" [(ngModel)]="accusedDetail.ministry" disabled>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ตำแหน่งหัวหน้าหน่วยงาน
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.headPosition" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            คำนำหน้าชื่อ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ชื่อ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.name">
                        </div>
                        <div class="col-md-2 text-md-right">
                            นามสกุล
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right mt-2 mb-4">
                            ที่อยู่/ที่ติดต่อ
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เลขที่
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.addressNo" disabled>
                        </div>
                        <div class="col-md-2 text-md-right">
                            หมู่บ้าน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.village" disabled>
                        </div>
                        <div class="col-md-2 text-md-right">
                            หมู่
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.moo" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            ซอย
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.alley" disabled>
                        </div>
                        <div class="col-md-2 text-md-right">
                            ถนน
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.road" disabled>
                        </div>
                        <div class="col-md-2 text-md-right">
                            แขวง/ตำบล
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.subDistrict" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            เขต/อำเภอ
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.district" disabled>
                        </div>
                        <div class="col-md-2 text-md-right">
                            จังหวัด
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.province" disabled>
                        </div>
                        <div class="col-md-2 text-md-right">
                            รหัสไปรษณีย์
                        </div>
                        <div class="col-md-2 form-group">
                            <input type="text" class="form-control" [(ngModel)]="accusedDetail.postCode" disabled>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-outline-primary mr-2"><i class="fa fa-plus"></i></button>
                            เพิ่มหน่วยงาน / ผู้ถูกร้องเรียน
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-primary mt-5">
                <div class="card-header">
                    <h3 class="card-title">เลือกผลการร้องเรียน</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 text-md-right">
                            กรณียื่นโดย Own Motion
                        </div>
                        <div class="col-md-2 form-group">
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <button class="btn btn-primary" (click)="save($event.target.innerText)">บันทึกรับเรื่องร้องเรียน</button>
                <!--<button class="btn btn-secondary ml-2">ยกเลิกการบันทึก</button>-->
            </div>
        </div>
    </div>
</div>
